/*  your css code here. If applicable */
table{
	border-collapse: collapse;
	width: 80%;
}
table th {
    font-weight: 600;
}
table tr:nth-child(2n) {
    background-color: #f6f8fa;
}
th, td{
	border: 1px solid #ddd;
	padding: 8px;
}


